body,
html {
  height: 100%;
  margin: 0;

  max-width: 100%;
}

.ronaldo {
  background-image: url("https://media.tenor.com/t3eKwU-odDgAAAAM/sui-siu.gif");
}

audio {
  display: none;
}

.siumwrap {
  padding: 80px;
  box-shadow: 2px 2px 2px black;
}
